<html lang="en">
<%- include('../partials/header.ejs') %>   
<body>
    <div class = "container-fluid">
    <%- include('../partials/nav.ejs') %>
     <div class="container">
            <h2>All Blogs</h2>

            <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                    <a class='link-secondary link-underline link-underline-opacity-0' href="/blogs/<%= blog._id %>"> 
                        <h3 class="text-primary-emphasis"><%= blog.title %></h3>
                    <p class="snippet"><%= blog.snippet %></p>
                    <p><%= blog.body %></p>
                    </a>
            <% }) %>
            <% } else { %>
            <p>There are no blogs.</p> 
        <% } %> 
        </div>
    </div>
</body>
<%- include('../partials/footer.ejs') %>   
</html>